<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="TestSuite" parallel="none" >

     <test name="ChromeTestCases">
         <parameter name="browser" value="chrome"/>

         <groups>
             <run>
                 <exclude name="ie"/>
                 <include name="admin"/>
                 <include name="user"/>
             </run>
         </groups>
         <classes>
              <class name="TourTests">
             <methods>
             <include name=".*TestCase12.*"/>
             <include name=".*TestCase11.*"/>
             <include name=".*TestCase13.*"/>

         </methods>
        </class>
         </classes>

     </test>

</suite>